.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* background-color: black; */
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/* margin x */

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 3rem;
}

.mx-5 {
  margin: 0 4rem;
}

/* margin (margin all around) */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* padding for y axis */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.py-6 {
  padding: 5rem 0;
}

.py-7 {
  padding: 6rem 0;
}

/* padding */

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Text sizes */

.xsm {
  font-size: 0.75rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* justify-content: cen1r; */
}

.center {
  text-align: center;
}

.card {
  /* border: 1px solid #444; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid var(--hover-btn); */
  padding: 0.8rem;
  cursor: pointer;
  border: solid rgba(0, 0, 0, 0.3) 0.1rem;
  border-radius: 0.3rem;
  gap: 5px;
  height: 16rem;
  width: 20rem;
  margin-top: 2rem;
  transition: ease 0.3s;
}

.card h3 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.card i {
  font-size: 1.3rem;
}

.flex-justify {
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transform: translateY(-0.5rem) scale(1.01);
}

.btn {
  border: none;
  padding: 5px 10px;
  color: white;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--hover-btn);
}

.btn:hover {
  color: white;
}

.curve {
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 71, 67, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 0 1rem;
}

.curve h2 {
  opacity: 0.6;
  text-transform: uppercase;
}
.curve p {
  opacity: 0.9;
}

.curve a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (max-width: 750px) {
  .card {
    margin-top: 2rem;
  }
}
